@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transaction-table__row {
    @apply before:text-black before:font-light before:dark:text-white before:content-[attr(data-label)] before:absolute before:right-0 before:top-0 before:bottom-0 before:flex before:items-center md:before:hidden;
  }

  #chart-area tspan {
    @apply dark:stroke-zinc-300;
  }
  /* width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 7.5px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(182, 191, 200, 0.3);
    border-radius: 20px;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(182, 191, 200, 1);
  }

  /* width */
  #notfic__wrapper::-webkit-scrollbar {
    width: 7.5px;
  }

  /* Track */
  #notfic__wrapper::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  #notfic__wrapper::-webkit-scrollbar-thumb {
    background: rgba(182, 191, 200, 0.3);
    border-radius: 20px;
  }

  /* Handle on hover */
  #notfic__wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(182, 191, 200, 1);
  }

  /* width */
  #profile-panel::-webkit-scrollbar {
    width: 7.5px;
  }

  /* Track */
  #profile-panel::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  #profile-panel::-webkit-scrollbar-thumb {
    background: rgba(182, 191, 200, 0.3);
    border-radius: 20px;
  }

  /* Handle on hover */
  #profile-panel::-webkit-scrollbar-thumb:hover {
    background: rgba(182, 191, 200, 1);
  }

  /* width */
  .notific-wrapper::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .notific-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .notific-wrapper::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .notific-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* width */
  .sidebar::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer base {
  @font-face {
    font-family: IRANYekanX;
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iran-yekan/woff/IRANYekanX-Light.woff') format('woff'),
      url('../fonts/iran-yekan/woff2/IRANYekanX-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/iran-yekan/woff/IRANYekanX-Bold.woff') format('woff'),
      url('../fonts/iran-yekan/woff2/IRANYekanX-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: IRANYekanX;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/iran-yekan/woff/IRANYekanX-Regular.woff') format('woff'),
      url('../fonts/iran-yekan/woff2/IRANYekanX-Regular.woff2') format('woff2');
  }

  body {
    @apply font-iranyekan;
  }
}
