@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: IRANYekanX;
        font-display: swap;
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/iran-yekan/woff/IRANYekanX-Light.woff') format('woff'),
            url('../fonts/iran-yekan/woff2/IRANYekanX-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-display: swap;
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/iran-yekan/woff/IRANYekanX-Bold.woff') format('woff'),
            url('../fonts/iran-yekan/woff2/IRANYekanX-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANYekanX;
        font-display: swap;
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/iran-yekan/woff/IRANYekanX-Regular.woff') format('woff'),
            url('../fonts/iran-yekan/woff2/IRANYekanX-Regular.woff2') format('woff2');
    }

    body {
        @apply font-iranyekan
    }
}